/* Classes */
.container{
    width: 100%;
    background: #ECF0F1;
    display: flex;
    flex-direction: column;
    
}

.container .header{
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .top{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header .top .side{
    order: 0;
    width: 30%;
    margin: 1%;
}

.header .top .icons{
    order: 1;
    display: flex;
    width: 100%;
    margin-top: 1%;
    margin-left : 62%;
}
.header .mid{
    width: 100%;
    margin-left: 10%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    height: 25%;
    padding: 0;
}

.menuItem{
    float: left;
    padding: 0 16px 0 0 ;
    margin: 3% 23px 0 0;
    text-align: center;
}
.menuItem a{
    display: inline;
    color: black;
    text-decoration: none;
}

.activeMenu a{
    text-decoration: none;
    color: black;
    float: left;
    padding: 0 16px 5px 12px ;
    margin: 3% 23px 0 0;
    text-align: center;
    border-bottom: 5px solid #67D091;
}


.header .mid .artist{
    display: flex;
}

.header .mid .menu{
    font-size: 18px;
    display: flex;
}

.container .item{
    display: flex;
    background: white;
    flex : 1;
    order: 2;
    flex-direction: row;
    padding: 2em;
    margin: 4% 10% 0.1% 10% ;
    
}
.container .item .info{
    width: 100%;
    order: 1;
}

.tracks {
    width: 100%;
    margin: 0.35em 0 0.2em 0;
    display: flex;
    border-bottom: 0.05em solid rgba(0, 0, 0, 0.1);
    padding: 0.35em 0 0.7em 0;
}

/*        Tags         */

body { 
    font-size: 0.8em; 
    font-family: Arial, Helvetica, sans-serif;
}

p{
    display: inline;
}


h1 {
    color: #619DDE;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0.5em;
    margin: 0 0em 0.2em
}
ul {
    list-style-type:none ;
    width: 95%;
    padding: 0;
    margin: 0;
}



/*          Miscellanius           */

.imgh{
    height: 60%;
    margin-left: 5%;
}
.imgN{
    height: 60%;
    margin-left: 5%;
}
.imgc{
    height: 3em;
    width: 3em;
    margin-left: 20%;
    border-radius: 20em;
}
.imga{
    float: left;
    margin-left : 2%;
    width: 20%;
    height: 20%;
}
.imgSinger{
    border-radius: 20em;
    padding: 0;
    margin: 1% 0 0 1%;
    width: 5%;
    height: 5%;
}
.albumTick{
    display: none;
}
.contactName{
    color: #868686;
    padding: 0;
    margin: 3% 0 2% 2%;
    width: 100%;
    text-align: middle;
    font-size: 12px;
}
.artistName{
    color: #33404F;
    padding: 0;
    margin: 2.4% 0 0 2%;
    width: 100%;
    font-size: 28px;
}
.dur{
    color: rgba(0, 0, 0, 0.4);
    flex-basis: 20px;
}
.dist{
    flex : 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.date{
    color: rgba(0, 0, 0, 0.4);
    padding: 0;
    margin: 0;
}

.item .v{
    order: 0;
    display: inline-flex;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 30em;
    width: 1%;
    margin-left: 4%;
    margin-right: 4%;
    overflow: hidden;
}

.arrow{
    display: none;
}

input[type=text] {  
    margin-top: 10%;
    border: 0; 
    outline: none;
    background: url("../media/search-solid.svg") no-repeat left;
    padding: 5px 5px 2px 30px;
    width: 0px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 100%;
}

/*  Mobile    */

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    .container{
        font-family: sans-serif;
        width: 100%;
        background: #ECF0F1;
        display: flex;
        flex-direction: column;
        
    }
    .container .item{
        display: flex;
        background: white;
        flex : 1;
        order: 2;
        flex-direction: column;
        padding: 2em;
        margin: 4% 10% 0.1% 10% ;
        
    }
    .imga{
        align-self: center;
        height: 40%;
        width: 40%;
        margin-bottom: 10%;
    }
    .subMenu{
        height: 20%;
    }
    .arrow{
        align-self: middle;
        display: unset;
        height: 2em;
        width: 2em;
        margin-left: 1%;
    }
    .header .top .icons{
        order: 1;
        display: flex;
        width: 100%;
        margin-left : 20%;
    }
    .header .mid{
        margin:0;
        
    }
    .artistName{
        color: #33404F;
        padding: 0;
        margin: 25% 0 0 5%;
        width: 100%;
        font-size: 28px;
    }
    .imgSinger{
        padding: 0;
        margin: 15% 0 0 0;
        width: 25%;
        height: 20%;
    }
    .albumTick{
        padding: 20% 0 0 0;
        margin: 0 0 0 0;
        width: 2em;
        height: 2em;
        display: unset;
    }
    .activeMenu a{
        padding: 2% 0 3% 5%;
        margin: 20% 0 0 0;
        border-bottom: none;
        border-left: 5px solid #67D091;
        font-size: 28px;
    }
    .imgh{
        display: none;
    }
    .item .v{
        display: none;
      }
    .imgh{
        display: none;
    }
    .contactName{
        display: none;
    }
    .menuItem{
        display: none;
    }
}